
[gcode_macro BM31]
gcode:
    {% set S = params.S|default(0.0)|int %}
    SET_PIN PIN=extrdpwm VALUE={S/1000.0}

[gcode_macro BM51]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0

[gcode_macro BLUESTOP]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0    

[gcode_macro BLaser_10]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.1


[gcode_macro BLaser_1]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.01       

[gcode_macro BLaser_2]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.02

[gcode_macro BLaser_p2]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.002    

[gcode_macro BLaser_p3]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.003    

[gcode_macro BLaser_p5]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.005         

[gcode_macro BLaser_5]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.05   

[gcode_macro Blink_10]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.1
    G4 P200
    SET_PIN PIN=extrdpwm VALUE=0


[gcode_macro BTESTW]
gcode:
    SET_PIN PIN=extrdpwm VALUE=1
    G4  P10000
    SET_PIN PIN=extrdpwm VALUE=0




[output_pin laserpoweren_level]
pin: fboard:gpio28
value: 0



[gcode_macro BLUE_SETPOW]
gcode:
    {% set S = params.S|default(0)|int %}
    {% if printer['output_pin laserpoweren_level'].value == 0 %}    
      {% if S > 0 %} 
        SET_PIN PIN=laserpoweren_level VALUE=1 
        M118  SET BLUE POWER 40W 
      {% else %}   
        M118    BLUE POWER 20W 
      {% endif %}  
    {% else %}   
      {% if S == 0 %} 
        SET_PIN PIN=laserpoweren_level VALUE=0 
        M118  SET BLUE POWER 20W 
      {% else %}   
        M118    BLUE POWER 40W         
      {% endif %}        
    {% endif %} 

[gcode_macro VIEW_BLUEPOW]
gcode:
    {% if printer['output_pin laserpoweren_level'].value == 0 %}    
      M118  BLUE POWER 20W 
    {% else %}   
      M118  BLUE POWER 40W 
    {% endif %}     


[gcode_macro BTOGGLE_POW]
gcode:
  {% if printer['output_pin laserpoweren_level'].value == 0 %}
    SET_PIN PIN=laserpoweren_level VALUE=1
    M118  SET BLUE POWER 40W 
    #RESPOND TYPE=echo MSG='{"P%d W" % (40)}'
  {% else %}
    SET_PIN PIN=laserpoweren_level VALUE=0
    M118  SET BLUE POWER 20W 
    #RESPOND TYPE=echo MSG='{"P:%d W" % (20)}'
  {% endif %}


#[gcode_macro M3]
#gcode:
    #CHK_DOOR
    #{% set S = params.S|default(0.0)|int %}
    #M301 S{S}

#[gcode_macro M4]
#gcode:
    #CHK_DOOR
    #{% set S = params.S|default(0.0)|int %}
    #M302 S{S}      

#[gcode_macro M5]
#gcode:
    #M51
    #M303  


#[gcode_macro M3]
#gcode:
    #{% set S = params.S|default(0.0)|int %}
    ##RCMD_FIBER_LASER  M=1  S=5
    ##RCMD_FIBER_LASER  M=2  S=50  
    #RCMD_FIBER_LASER  M=2  S=0
    #M301 S{S}

#[gcode_macro M4]
#gcode:
    #{% set S = params.S|default(0.0)|int %}
    ##RCMD_FIBER_LASER  M=1  S=5
    ##RCMD_FIBER_LASER  M=2  S=50  
    #RCMD_FIBER_LASER  M=2  S=0   
    #M302 S{S}      

#[gcode_macro M5]
#gcode:
    ##M51
    ##RCMD_FIBER_LASER  M=1  S=5
    #M400
    #RCMD_FIBER_LASER  M=3  S=50  
    #M303  


[gcode_macro M3]
gcode:
    #CHK_DOOR
    {% set S = params.S|default(0.0)|int %}
    {% if printer.laserctrl.fiber_selected > 0 %}
      M118  red laser    
      RCMD_FIBER_LASER  M=2  S=0
    {% else %}
      M118  blue laser
    {% endif %}
    M301 S{S}


[gcode_macro M4]
gcode:
    #CHK_DOOR
    {% set S = params.S|default(0.0)|int %}
    {% if printer.laserctrl.fiber_selected > 0 %}
      M118  red laser
      RCMD_FIBER_LASER  M=2  S=0   
    {% else %}
      M118  blue laser
    {% endif %} 
    M302 S{S}         

[gcode_macro M5]
gcode:
    {% if printer.laserctrl.fiber_selected > 0 %}
      #M118  red laser
      M400
      RCMD_FIBER_LASER  M=3  S=50  
    {% else %}
      #M118  blue laser
      M400
      BM51
    {% endif %}  
    M303   


[gcode_macro M305]
gcode:
    {% set S = params.S|default(0.0)|float %}
    RESPOND TYPE=echo MSG='{"M305 S%.2f" % (S) }'


[gcode_macro M511]
gcode:
    RESPOND TYPE=echo MSG='{"jog end"}'           


[gcode_macro VIEWLASER]
gcode:
    {% if printer.laserctrl.fiber_selected > 0 %}
      M118  red laser
    {% else %}
      M118  blue laser
    {% endif %}


[gcode_macro TOGGLE_LASER]
gcode:
  {% if printer.laserctrl.fiber_available > 0 %}
    M118  support fiber laser 
    {% if printer.laserctrl.fiber_selected > 0 %}
      CHG_LASER_TYPE  S=0
      M118  change blue laser      
    {% else %}
      CHG_LASER_TYPE  S=1
      M118  change red laser  
    {% endif %}    
  {% else %}
    M118  only blue laser 
  {% endif %}   

[gcode_macro REDSTOP]
gcode:
    #M51
    #RCMD_FIBER_LASER  M=1  S=5
    M400
    RCMD_FIBER_LASER  M=3  S=50  
    M303 

[gcode_macro ALLSTOP]
gcode:
    BLUESTOP
    REDSTOP


[gcode_macro RFiber_PI]
gcode:
    {% set S = params.S|default(0.0)|int %}
    #M3
    #RCMD_FIBER_LASER  M=1  S=500
    #RCMD_FIBER_LASER  M=1  S=50
    RCMD_FIBER_LASER  M=1  S={S}
    RCMD_FIBER_LASER  M=2  S=10 
    #G4 P3000
    #G4 P600
    #G4 P400
    #G4 P300
    #G4 P280
    G4 P5000
    REDSTOP

[gcode_macro RFiberTPI]
gcode:
    {% set S = params.S|default(0.0)|int %}
    #M3
    #RCMD_FIBER_LASER  M=1  S=500
    #RCMD_FIBER_LASER  M=1  S=50
    RCMD_FIBER_LASER  M=1  S={S}
    RCMD_FIBER_LASER  M=2  S=50 
    #G4 P3000
    #G4 P2000
    #G4 P400
    G4 P280
    #G4 P20000
    REDSTOP   


[gcode_macro RFiberTP_15]
gcode:
    {% set S = params.S|default(0.0)|int %}
    #M3
    #RCMD_FIBER_LASER  M=1  S=500
    #RCMD_FIBER_LASER  M=1  S=50
    RCMD_FIBER_LASER  M=1  S={S}
    RCMD_FIBER_LASER  M=2  S=50 
    #G4 P3000
    #G4 P2000
    #G4 P600
    #G4 P400
    #G4 P300
    #G4 P250
    G4 P15000
    G4 P15000
    #G4 P20000
    REDSTOP

[gcode_macro RFiber_10]
gcode:
    #M3
    #RCMD_FIBER_LASER  M=1  S=500
    #RCMD_FIBER_LASER  M=1  S=50
    RCMD_FIBER_LASER  M=1  S=0
    RCMD_FIBER_LASER  M=2  S=50 
    #G4 P3000
    #G4 P4500
    #G4 P2000
    #G4 P600
    #G4 P400
    #G4 P300
    # no work G4 P200
    #G4 P250
    # no G4 P270
    #G4 P280
    #REDSTOP

[gcode_macro RTFiber_10]
gcode:
    #M3
    #RCMD_FIBER_LASER  M=1  S=500
    #RCMD_FIBER_LASER  M=1  S=50
    RCMD_FIBER_LASER  M=1  S=500
    G4 P1000
    RCMD_FIBER_LASER  M=2  S=500 
    #G4 P3000
    #G4 P4500
    #G4 P2000
    #G4 P600
    #G4 P400
    #G4 P300
    # no work G4 P200
    #G4 P250
    # no G4 P270
    #G4 P280
    #REDSTOP
    
#[gcode_macro RLINE_10]
#gcode:
    ##M3
    #RCMD_FIBER_LASER  M=1  S=500
    #RCMD_FIBER_LASER  M=2  S=50 
    ##M400
    #G1 X46Y0
    #M400
    ##G4 P3500
    #REDSTOP 

#[gcode_macro RTLINE_10]
#gcode:
    #M3 S602
    ##G4 P100
    #M400
    ##RCMD_FIBER_LASER  M=1  S=500
    ##RCMD_FIBER_LASER M=2  S=50 
    #G1 X46Y0
    #M400
    #G4 P3500
    #REDSTOP  

[gcode_macro RREDLED_ON]
gcode:
    RCMD_FIBER_LASER  M=6  S=5

[gcode_macro RREDLED_OFF]
gcode:
    RCMD_FIBER_LASER  M=7  S=5   

[gcode_macro RESTOP_ON]
gcode:
    RCMD_FIBER_LASER  M=8  S=5

[gcode_macro RESTOP_OFF]
gcode:
    RCMD_FIBER_LASER  M=9  S=5       

[gcode_macro RPTEST_ON]
gcode:
    RCMD_FIBER_LASER  M=10  S=5

[gcode_macro RPTEST_OFF]
gcode:
    RCMD_FIBER_LASER  M=11  S=5  
