[gcode_macro BM31]
gcode:
    {% set S = params.S|default(0.0)|int %}
    SET_PIN PIN=extrdpwm VALUE={S/1000.0}

[gcode_macro BM51]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0

[gcode_macro BLUESTOP]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0    

[gcode_macro BLaser_10]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.1


[gcode_macro BLaser_1]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.01       

[gcode_macro BLaser_2]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.02

[gcode_macro BLaser_p2]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.002    

[gcode_macro BLaser_p3]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.003    

[gcode_macro BLaser_p5]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.005         

[gcode_macro BLaser_5]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.05   

[gcode_macro Blink_10]
gcode:
    SET_PIN PIN=extrdpwm VALUE=0.1
    G4 P200
    SET_PIN PIN=extrdpwm VALUE=0


[gcode_macro BTESTW]
gcode:
    SET_PIN PIN=extrdpwm VALUE=1
    G4  P10000
    SET_PIN PIN=extrdpwm VALUE=0


#[gcode_macro M3]
#gcode:
    #CHK_DOOR
    #{% set S = params.S|default(0.0)|int %}
    #M301 S{S}

#[gcode_macro M4]
#gcode:
    #CHK_DOOR
    #{% set S = params.S|default(0.0)|int %}
    #M302 S{S}      

#[gcode_macro M5]
#gcode:
    #M51
    #M303  

#[gcode_macro M3]
#gcode:
    #{% set S = params.S|default(0.0)|int %}
    ##RCMD_FIBER_LASER  M=1  S=5
    ##RCMD_FIBER_LASER  M=2  S=50  
    #RCMD_FIBER_LASER  M=2  S=0
    #M301 S{S}

#[gcode_macro M4]
#gcode:
    #{% set S = params.S|default(0.0)|int %}
    ##RCMD_FIBER_LASER  M=1  S=5
    ##RCMD_FIBER_LASER  M=2  S=50  
    #RCMD_FIBER_LASER  M=2  S=0   
    #M302 S{S}      

#[gcode_macro M5]
#gcode:
    ##M51
    ##RCMD_FIBER_LASER  M=1  S=5
    #M400
    #RCMD_FIBER_LASER  M=3  S=50  
    #M303  

[gcode_macro M3]
gcode:
    # CHK_DOOR
    {% set S = params.S|default(0.0)|int %}
    {% if printer.laserctrl.fiber_selected > 0 %}
      M118  red laser    
      RCMD_FIBER_LASER  M=2  S=0
    {% else %}
      M118  blue laser
      BH_START
    {% endif %}
    M301 S{S}

[gcode_macro M4]
gcode:
    # CHK_DOOR
    {% set S = params.S|default(0.0)|int %}
    {% if printer.laserctrl.fiber_selected > 0 %}
      M118  red laser
      RCMD_FIBER_LASER  M=2  S=0   
    {% else %}
      M118  blue laser
      BH_START
    {% endif %} 
    M302 S{S}         

[gcode_macro M5]
gcode:
    {% if printer.laserctrl.fiber_selected > 0 %}
      M118  close red laser
      M400
      RCMD_FIBER_LASER  M=3  S=50  
    {% else %}
      M118  close blue laser
      M400
      BM51
      BH_STOP
    {% endif %}  
    M303          

[gcode_macro M305]
gcode:
    {% set S = params.S|default(0.0)|float %}
    #RESPOND TYPE=echo MSG='{"M305 S%.2f" % (S) }'
    {% set PIS = (S*1000)|int %}
    RESPOND TYPE=echo MSG='{"DISPLAY SV=%d" % (PIS) }'
    {% if printer.laserctrl.fiber_selected > 0 %}
      M118  red laser
      RFiber_START S={PIS}
    {% else %}
      M118  blue laser
      BM31 S={PIS}
    {% endif %}


[gcode_macro M512]
gcode:
    RESPOND TYPE=echo MSG='{"jog end"}' 




[gcode_macro VIEWLASER]
gcode:
    {% if printer.laserctrl.fiber_selected > 0 %}
      M118  red laser
    {% else %}
      M118  blue laser
    {% endif %}


[gcode_macro TOGGLE_LASER]
gcode:
  {% if printer.laserctrl.fiber_available > 0 %}
    M118  support fiber laser 
    {% if printer.laserctrl.fiber_selected > 0 %}
      CHG_LASER_TYPE  S=0
      M118  change blue laser      
    {% else %}
      CHG_LASER_TYPE  S=1
      M118  change red laser  
    {% endif %}    
  {% else %}
    M118  only blue laser 
  {% endif %}   

[extruderpwm]
step_pin: hborad:gpio29
dir_pin:  hborad:gpio27
enable_pin: !hborad:gpio28
microsteps: 16
rotation_distance: 40
step_mvirtualmode: 2
laser_minpower: 0

[output_pin extrdpwm]
pin: hborad:gpio16
pwm: True
hardware_pwm: True
cycle_time: 0.00005
value: 0
shutdown_value: 0

[output_pin laserpoweren_level]
pin: hborad:gpio17
value: 0

[gcode_macro BLUE_SETPOW]
gcode:
    {% set S = params.S|default(0)|int %}
    {% if printer['output_pin laserpoweren_level'].value == 0 %}    
      {% if S > 0 %} 
        SET_PIN PIN=laserpoweren_level VALUE=1 
        M118  SET BLUE POWER 40W 
      {% else %}   
        M118    BLUE POWER 20W 
      {% endif %}  
    {% else %}   
      {% if S == 0 %} 
        SET_PIN PIN=laserpoweren_level VALUE=0 
        M118  SET BLUE POWER 20W 
      {% else %}   
        M118    BLUE POWER 40W         
      {% endif %}        
    {% endif %} 

[gcode_macro VIEW_BLUEPOW]
gcode:
    {% if printer['output_pin laserpoweren_level'].value == 0 %}    
      M118  BLUE POWER 20W 
    {% else %}   
      M118  BLUE POWER 40W 
    {% endif %}     


[gcode_macro BTOGGLE_POW]
gcode:
  {% if printer['output_pin laserpoweren_level'].value == 0 %}
    SET_PIN PIN=laserpoweren_level VALUE=1
    M118  SET BLUE POWER 40W 
    #RESPOND TYPE=echo MSG='{"P%d W" % (40)}'
  {% else %}
    SET_PIN PIN=laserpoweren_level VALUE=0
    M118  SET BLUE POWER 20W 
    #RESPOND TYPE=echo MSG='{"P:%d W" % (20)}'
  {% endif %}

[output_pin red_dot_toolhead]
pin: hborad:gpio25
pwm: True
hardware_pwm: True
cycle_time: 0.01
value: 0
shutdown_value: 0

[gcode_macro M32]
gcode:
    {% set S = params.S|default(0.0)|int %}
    SET_PIN PIN=pointlaser VALUE={S/1000.0}

[angledcmove as5600m]
#0x36 54
#i2c_address: 54
i2c_mcu: hborad
i2c_bus: i2c1e
#i2c_software_scl_pin: hborad:gpio18
#i2c_software_sda_pin: hborad:gpio19
#i2c_software_scl_pin: hborad:gpio19
#i2c_software_sda_pin: hborad:gpio18
##i2c_software_scl_pin: gpio19
##i2c_software_sda_pin: gpio18
#i2c_software_scl_pin: fboard:gpio19
#i2c_software_sda_pin: fboard:gpio18
#i2c_speed: 100000
#cw_pin: hborad:gpio23
#ccw_pin: hborad:gpio24
cw_pin: hborad:gpio24
ccw_pin: hborad:gpio23
pwm:True
pwm_mb:False
hardware_pwm: True
cycle_time:0.001
pidreptimef: 0.02
tolerance: 25
pid_kp: 0.006
pid_ki: 0.0
pid_kd: 0.01
pid_kp_up: 0.0108
tstlog_en: 1
min_pwm_val: 0.1
max_pwm_val: 0.4
pwm_delay: 0.005
stop_delay:0.003
swingarm_en: 1
try_maxtimes:300

[save_variables]
filename: ~/printer_data/config/posinfo.cfg

[data_persistence uservariety]
filename: ~/printer_data/config/userdata.ini


